* {
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.background {
  z-index: 1;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

body.open .background {
  filter: blur(20px);
}

.logo-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  padding-left: 20px;
  padding-right: 72px;
  background: #003049;
  color: #f9f9f9;
}

.logo-bar .logo {
  height: 60px;
  filter: invert(1);
}

body {
  margin: 0;
  background-color: #eae2b7;
}

* {
  box-sizing: border-box;
}

header {
  background-color: red;
}

.descricao-site {
  background-color: green;
  width: 100%;
  height: 100px;
}
.categorias {
  background-color: chocolate;
  width: 100%;
  height: 100px;
}
.mapa {
  background-color: aqua;
  width: 100%;
  height: 300px;
}
.restaurantes {
  background-color: darkslateblue;
  width: 100%;
  padding: 10px;
}
.cards {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.card {
  flex: 1;
}
article {
  background-color: blue;
}

footer {
  background-color: gold;
  width: 100%;
  height: 100px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  display: flex;
  height: 48rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 42rem;
  object-fit: cover;
}
